@charset "utf-8";

/* for specific category page */
.category-title {
  text-align: center;
}

.category-list {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 24px;
  font-size: 14px;
  padding-right: 5px;
  text-decoration-line: underline;
}

/* for categories page */
.categories-title {
  text-align: center;
}

.categories-list {
  line-height: 24px;
}

.category-list li a{
  font-size: 13px;
}
