@charset "utf-8";

// custom pre font-family and font-size to give the right line-height for inner language-txt lines
pre {
  font-family: Courier New;
  font-size: 10px;
  margin-bottom: 8px; // for txt code block margin adjust
}

// use courier-new rather than courier for better vertical line display in ```txt```
.language-txt {
  font-family: Courier New !important;
}

// blurtext style: for ```blurtext``` code blocks, <pre><code class=...></code></pre>
pre:has(code.language-blurtext) {
  line-height: 14px;
  margin: 10px 0;
  padding: 3px;
  overflow-x: auto;
  font-size: 10px;
  font-family: Courier New;
  text-indent: 0px;
  background-color: #f0f0f0;
  color: #f0f0f0;
  // filter: blur(1px);
}

// code block settings, for ```text``` code blocks
.highlight > pre, pre.highlight {
  line-height: 14px;
  margin: 10px 0;
  padding: 3px;
  // border: 1px dashed #000;
  overflow-x: auto;
  font-size: 10px;
  font-family: Courier New;
  text-indent: 0px;
  background-color: #f0f0f0;
  // box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  // filter: blur(1px);
}

.highlighter-rouge {
  background-color: #eee;
}

// comments inside code block
span.c1 {
  color: rgb(180, 180, 180);
}
