@charset "utf-8";

.post-title {
  text-align: left;
}

.post-author {
  display: none;
}

.post-content p {
  line-height: 20px;
  font-size: 12px;
}

.post-content img {
  display: block;
  margin: 10px auto;
  padding: 3px 100px 3px 10px;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
  font-size: 12px;
}

.post-category, .post-tag {
  margin: 0 5px;
}
