@charset "utf-8";

/* for specific category page */
.tag-title {
  text-align: center;
}

.tag-list {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 24px;
  padding-right: 10px;
  font-size: 14px;
  text-decoration-line: underline;
}

.tag-list li a{
  font-size: 13px;
}
